<div class="container-fluid main-container" id="education-tab" style="background-color: #f8f9fa;">
    <div class="container-fluid inside-main-container">
        <h1 class="heading">
            Education
        </h1>
        <hr style="margin-top: 5%;">
        <div class="row">
            <div class="col-8">
                <strong>University of Missouri Kansas City</strong>
            </div>
            <div class="col-4">
                Jan 2023 - May 2024
            </div>
        </div>
        <p>Master's in Computer Science</p>
        <p>CGPA : 4 / 4</p>
        <hr>
        <div class="row">
            <div class="col-8">
                <strong>R.V.R & J.C College of Engineering</strong>
            </div>
            <div class="col-4">
                Jun 2016 - Sept 2020
            </div>
        </div>
        <p>Bachelor's in Information Technology</p>
        <p>GPA : 8.86 / 10</p>
        <hr>
    </div>
</div>