<div class="conatiner-fluid main-container" id="home-tab">
    <div class="container-fluid inside-main-container">
        <h1 class="heading">
            Hi, I'm {{name}}
        </h1>
        <br>
        <p class="subtext">
            Experienced software developer with a strong focus on backend development, specializing in Python, Node.js and AWS. 
            Exceptionally fast learner, adept at quickly assimilating new technologies and seamlessly transitioning into proficient development.
        </p>
    </div>
</div>
