<!-- 
<nav class="navbar">

  <div class="container-fluid" style="justify-content: left;">

    <div class="row align-items-center" style="width: 100%">
      <div class="col-1">
        <a href="#home-tab" style="float: right;">
          <img class="profile" src="../assets/images/sup_dp_1.jpeg" alt="DP">
        </a>
      </div>
      <div class="col-3 my-auto" >
        <a href="#home-tab" style="text-decoration: none;"><h4 class="header_name">Anudeep TALASILA</h4></a>
      </div>
      <div class="col-2"></div>
      <div class="col-6" >
        <div class="row justify-content-end">
          <div class="col-auto d-flex justify-content-center">
            <a class="menu_option" href="#home-tab"><h5 class="menu_option_name">HOME</h5></a>
          </div>
          <div class="col-auto d-flex justify-content-center">
            <a class="menu_option" href="#experience-tab"><h5 class="menu_option_name">EXPERIENCE</h5></a>
          </div>
          <div class="col-auto d-flex justify-content-center">
            <a class="menu_option" href="#education-tab"><h5 class="menu_option_name">EDUCATION</h5></a>
          </div>
          <div class="col-auto d-flex justify-content-center">
            <a class="menu_option" href="#skills-tab"><h5 class="menu_option_name">SKILLS</h5></a>
          </div>
          <div class="col-auto d-flex justify-content-center">
            <a class="menu_option" href="#contact-tab"><h5 class="menu_option_name">CONTACT</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home-tab">
      <img src="../assets/images/favicon-3.jpg" alt="Logo" width="48vw" height="48vh" style="border-radius: 10%;" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link menu_option_name" aria-current="page" href="#home-tab">Home</a>
        <a class="nav-link menu_option_name" href="#experience-tab">Experience</a>
        <a class="nav-link menu_option_name" href="#education-tab">Education</a>
        <a class="nav-link menu_option_name"href="#skills-tab">Skills</a>
        <a class="nav-link menu_option_name"href="#contact-tab">Contact</a>
      </div>
    </div>
  </div>
</nav>

<app-homepage></app-homepage>
<app-experience></app-experience>
<app-education></app-education>
<app-skills></app-skills>
<app-contact></app-contact>